/Ermitazas.lt/bin/Debug/chromedriver.exe
/Ermitazas.lt/bin/Debug/Ermitazas.lt.dll
/Ermitazas.lt/bin/Debug/Ermitazas.lt.pdb
/Ermitazas.lt/bin/Debug/nunit.engine.api.dll
/Ermitazas.lt/bin/Debug/nunit.engine.core.dll
/Ermitazas.lt/bin/Debug/nunit.engine.dll
/Ermitazas.lt/bin/Debug/nunit.framework.dll
/Ermitazas.lt/bin/Debug/nunit.framework.xml
/Ermitazas.lt/bin/Debug/nunit_random_seed.tmp
/Ermitazas.lt/bin/Debug/NUnit3.TestAdapter.dll
/Ermitazas.lt/bin/Debug/NUnit3.TestAdapter.pdb
/Ermitazas.lt/bin/Debug/SeleniumExtras.PageObjects.dll
/Ermitazas.lt/bin/Debug/SeleniumExtras.WaitHelpers.dll
/Ermitazas.lt/bin/Debug/testcentric.engine.metadata.dll
/Ermitazas.lt/bin/Debug/WebDriver.dll
/Ermitazas.lt/bin/Debug/WebDriver.Support.dll
/Ermitazas.lt/Class1.cs
/Ermitazas.lt/Ermitazas.lt.csproj
/Ermitazas.lt/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Ermitazas.lt/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Ermitazas.lt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ermitazas.lt/obj/Debug/Ermitazas.lt.csproj.AssemblyReference.cache
/Ermitazas.lt/obj/Debug/Ermitazas.lt.csproj.CopyComplete
/Ermitazas.lt/obj/Debug/Ermitazas.lt.csproj.CoreCompileInputs.cache
/Ermitazas.lt/obj/Debug/Ermitazas.lt.csproj.FileListAbsolute.txt
/Ermitazas.lt/obj/Debug/Ermitazas.lt.dll
/Ermitazas.lt/obj/Debug/Ermitazas.lt.pdb
/Ermitazas.lt/packages.config
/Ermitazas.lt/Properties/AssemblyInfo.cs
/Ermitazas.lt/Tests/Sutikrinti_Veliavos_Kaina.cs
/Ermitazas.lt/Tests/SkaldosNaujausiosPrekesKaina.cs
/Ermitazas.lt/bin/Debug/Baseline.dll
/Ermitazas.lt/bin/Debug/DryIoc.dll
/Ermitazas.lt/bin/Debug/DryIoc.xml
/Ermitazas.lt/bin/Debug/System.ValueTuple.dll
/Ermitazas.lt/bin/Debug/System.ValueTuple.xml
/Ermitazas.lt/Screenshots/DidmeninesPrekybosVadybininkoAlgosPatikrinimas_23_18.png
/Ermitazas.lt/Screenshots/DidmeninesPrekybosVadybininkoAlgosPatikrinimas_23_24.png
/Ermitazas.lt/Screenshots/DidmeninesPrekybosVadybininkoAlgosPatikrinimas_23_28.png
/Ermitazas.lt/Screenshots/DidmeninesPrekybosVadybininkoAlgosPatikrinimas_23_38.png
/Ermitazas.lt/Screenshots/KrepselioKainosPatikrinimas_23_18.png
/Ermitazas.lt/Screenshots/KrepselioKainosPatikrinimas_23_24.png
/Ermitazas.lt/Screenshots/KrepselioKainosPatikrinimas_23_28.png
/Ermitazas.lt/Screenshots/SkaldosKainosSutikrinimas_23_18.png
/Ermitazas.lt/Screenshots/SkaldosKainosSutikrinimas_23_28.png
/Ermitazas.lt/Screenshots/VeliavosKainosPatikrinimas_23_18.png
/Ermitazas.lt/Screenshots/VeliavosKainosPatikrinimas_23_28.png
